body {
    margin: 0;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
}

.container {
    max-width: 600px;
    background-color: grey;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    margin: 10px;
    font-family: Orbitron;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    transition: .5s linear;
}

button:hover {
    background-color: lightblue;
}